@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer base {
  body {
    @apply font-sans text-gray-900 bg-white;
  }

  h1,
  h2,
  h3 {
    @apply font-serif;
  }
}